<section class="proximos-horarios-card">
  <h2>Próximos horários</h2>
  <ul>
    @for (horario of horarios(); track $index) {
      <li class="proximo-horario">
        <span class="proximo-horario__horario"><span>{{ horario.inicio }}</span><span>{{ horario.termino }}</span></span>
        <div><strong>{{ horario.atividade }}</strong><p>{{ horario.professor }}</p></div>
      </li>
    } @empty { <li class="proximos-horarios-card__vazio" aria-label="Sem próximos horários disponíveis"></li> }
  </ul>
</section>
