* {
  box-sizing: border-box;
}

.pagina-cadastro {
  width: 100%;
  min-height: 100vh;

  display: flex;

  background-color: #000;
}


/* LADO DA IMAGEM */

.lado-imagem {
  width: 39%;
  min-height: 100vh;

  overflow: hidden;
}

.lado-imagem img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}


/* LADO DO FORMULÁRIO */

.lado-formulario {
  width: 61%;
  min-height: 100vh;

  background-color: #fff;

  display: flex;

  align-items: center;
  justify-content: center;
}


/* CONTAINER */

.formulario-container {
  width: 70%;
  max-width: 500px;
}


/* TÍTULO */

h1 {
  margin: 0;

  text-align: center;

  font-family: Arial, sans-serif;

  font-size: 25px;

  font-weight: 700;

  color: #000;
}

.subtitulo {
  margin-top: 3px;

  margin-bottom: 30px;

  text-align: center;

  font-family: Arial, sans-serif;

  font-size: 14px;

  color: #999;
}


/* CAMPOS */

.campo {
  width: 100%;

  margin-bottom: 28px;
}

.campo label {
  display: block;

  margin-bottom: 5px;

  font-family: Arial, sans-serif;

  font-size: 13px;

  color: #222;
}

.campo input {
  width: 100%;

  height: 36px;

  padding: 0 12px;

  border: 1px solid #777;

  border-radius: 6px;

  outline: none;

  font-family: Arial, sans-serif;

  font-size: 12px;

  color: #333;
}

.campo input:focus {
  border-color: #0d7745;
}

.campo input::placeholder {
  color: #aaa;
}


/* BOTÃO */

.botao {
  width: 100%;

  height: 44px;

  margin-top: -20px;

  border: none;

  border-radius: 0 0 14px 14px;

  background-color: #08783f;

  color: white;

  font-family: Arial, sans-serif;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;
}

.botao:hover {
  background-color: #066535;
}


/* ERROS */

.erro {
  display: block;

  margin-top: 5px;

  color: #d32f2f;

  font-size: 11px;
}