<div class="auth-container">

    <!-- LADO DA IMAGEM -->
    <div class="auth-image-side">
        <img src="/auth/fatec.png" alt="Fachada da Fatec" class="bg-img" />
        <img src="/auth/cps-logo.png" alt="Centro Paula Souza" class="cps-logo" />
    </div>

    <!-- LADO DO FORMULÁRIO -->
    <div class="auth-form-side">
        <div class="form-wrapper">

            <h1 class="title">Esqueci a minha senha</h1>
            <p class="subtitle">Insira seu email para verificação</p>

            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

                <div class="field">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" placeholder="seuemail@aluno.cps.sp.gov.br" formControlName="email"
                        [class.input-error]="submitted && email!.invalid" />

                    @if (submitted && email!.invalid) {
                    <div class="error-msg">
                        @if (email!.hasError('required')) { <span>Informe seu e-mail.</span> }
                        @if (email!.hasError('email')) { <span>Informe um e-mail válido.</span> }
                    </div>
                    }
                </div>

                <button type="submit" class="btn-submit" [disabled]="loading">
                    {{ loading ? 'Enviando...' : 'Recuperar senha' }}
                </button>

                @if (successMessage) {
                <p class="alert-msg success">{{ successMessage }}</p>
                }
                @if (errorMessage) {
                <p class="alert-msg error">{{ errorMessage }}</p>
                }
            </form>

        </div>
    </div>

</div>