<div class="pagina-cadastro">

  <!-- IMAGEM DA FATEC -->
  <div class="lado-imagem">

    <img
      src="fatec.png"
      alt="FATEC"
    >

  </div>


  <!-- FORMULÁRIO -->
  <div class="lado-formulario">

    <div class="formulario-container">

      <h1>Criar a Conta</h1>

      <p class="subtitulo">
        Insira seus dados para se cadastrar
      </p>


      <form
        [formGroup]="cadastroForm"
        (ngSubmit)="cadastrar()"
      >

        <!-- NOME -->
        <div class="campo">

          <label for="nome">
            Nome Completo
          </label>

          <input
            id="nome"
            type="text"
            formControlName="nome"
            placeholder="Fulano Da Silva"
          >

          @if (
            cadastroForm.get('nome')?.touched &&
            cadastroForm.get('nome')?.invalid
          ) {

            <small class="erro">
              Informe seu nome completo.
            </small>

          }

        </div>


        <!-- EMAIL -->
        <div class="campo">

          <label for="email">
            Email Institucional
          </label>

          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="seuemail@aluno.cps.sp.gov.br"
          >

          @if (
            cadastroForm.get('email')?.touched &&
            cadastroForm.get('email')?.invalid
          ) {

            <small class="erro">
              Informe um email válido.
            </small>

          }

        </div>


        <!-- SENHA -->
        <div class="campo">

          <label for="senha">
            Senha
          </label>

          <input
            id="senha"
            type="password"
            formControlName="senha"
            placeholder="********"
          >

          @if (
            cadastroForm.get('senha')?.touched &&
            cadastroForm.get('senha')?.invalid
          ) {

            <small class="erro">
              A senha deve possuir pelo menos 8 caracteres.
            </small>

          }

        </div>


        <!-- CONFIRMAR SENHA -->
        <div class="campo">

          <label for="confirmarSenha">
            Confirmar Senha
          </label>

          <input
            id="confirmarSenha"
            type="password"
            formControlName="confirmarSenha"
            placeholder="********"
          >

          @if (
            cadastroForm.get('confirmarSenha')?.touched &&
            cadastroForm.get('confirmarSenha')?.invalid
          ) {

            <small class="erro">
              Confirme sua senha.
            </small>

          }

        </div>


        <!-- BOTÃO -->
        <button
          type="submit"
          class="botao"
        >
          Entrar
        </button>

      </form>

    </div>

  </div>

</div>