<div class="auth-container">

    <!-- LADO DA IMAGEM -->
    <div class="auth-image-side">
        <img src="/auth/fatec.png" alt="Fachada da Fatec" class="bg-img" />
        <img src="/auth/cps-logo.png" alt="Centro Paula Souza" class="cps-logo" />
    </div>

    <!-- LADO DO FORMULÁRIO -->
    <div class="auth-form-side">
        <div class="form-wrapper">

            <h1 class="title">Criar a Conta</h1>
            <p class="subtitle">Insira seus dados para se cadastrar</p>

            <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

                <!-- NOME -->
                <div class="field">
                    <label for="nome">Nome Completo</label>
                    <input id="nome" type="text" formControlName="nome" placeholder="Ex: Fulano Da Silva"
                        [class.input-error]="cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid">
                    @if (cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid) {
                    <small class="error-msg">Informe seu nome completo.</small>
                    }
                </div>

                <!-- EMAIL -->
                <div class="field">
                    <label for="email">Email Institucional</label>
                    <input id="email" type="email" formControlName="email" placeholder="seuemail@aluno.cps.sp.gov.br"
                        [class.input-error]="cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid">
                    @if (cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid) {
                    <small class="error-msg">Informe um email válido.</small>
                    }
                </div>

                <!-- SENHA -->
                <div class="field">
                    <label for="senha">Senha</label>
                    <input id="senha" type="password" formControlName="senha" placeholder="••••••••"
                        [class.input-error]="cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid">
                    @if (cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid) {
                    <small class="error-msg">A senha deve possuir pelo menos 8 caracteres.</small>
                    }
                </div>

                <!-- CONFIRMAR SENHA -->
                <div class="field">
                    <label for="confirmarSenha">Confirmar Senha</label>
                    <input id="confirmarSenha" type="password" formControlName="confirmarSenha" placeholder="••••••••"
                        [class.input-error]="cadastroForm.get('confirmarSenha')?.touched && cadastroForm.get('confirmarSenha')?.invalid">
                    @if (cadastroForm.get('confirmarSenha')?.touched && cadastroForm.get('confirmarSenha')?.invalid) {
                    <small class="error-msg">Confirme sua senha.</small>
                    }
                </div>

                <!-- BOTÃO -->
                <button type="submit" class="btn-submit">
                    Entrar
                </button>

            </form>

        </div>
    </div>

</div>